<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tis.mapper.ProductMapper">

	<!-- pspec 별로 상품 정보 가져오기 mybatis-config.xml 에서 typeAlias 지정 shop.domain.ProductVO 
		를 Product 로 alias 지정함. -->
	<select id="selectByPspec" parameterType="string"
		resultType="Product">
		select 
		<include refid="product_column" /> 
		from product where pspec=#{value}
		order by pnum desc
	</select>

	<!-- 상위 카테고리 목록 가져오기 -->
<!-- 	<select id="getUpCategoryList" resultType="Category">
		select * from
		upCategory order by upCg_code asc
	</select> -->

	<!-- 하위 카테고리 목록 가져오기 -->
<!-- 	<select id="getDownCategoryList" resultType="Category"
		parameterType="STRING">
		select * from downCategory where upCg_code=#{value}
	</select> -->

	<!-- 상품정보 등록[Admin] -->
	<insert id="productInsert" parameterType="Product">
		insert into product
		values(product_seq.nextval, #{upCg_code}, #{downCg_code},
		#{pname},
		#{pimage1:VARCHAR}, #{pimage2:VARCHAR}, #{pimage3:VARCHAR}, #{price},
		#{saleprice}, #{pqty:NUMERIC}, #{point:NUMERIC}, #{pspec:VARCHAR},
		#{pcontents:VARCHAR}, #{pcompany:VARCHAR}, sysdate)
	</insert>

	<!-- 등록된 상품 갯수 가져오기 -->
	<select id="getProductCount" resultType="_int"> <!-- 기본 자료형 -->
		select count(pnum) from product
	</select>

	<!-- 상품 목록 가져오기 -->
	<select id="getProductList" resultType="Product">
		<!-- select * from product order by pnum desc -->
		select u.upcg_code, d.downcg_code, u.upcg_name, d.downcg_name,
		p.pname, p.*
		from upcategory u right outer join product p
		on u.upcg_code = p.upcg_code
		left outer join downcategory d
		on p.downcg_code = d.downcg_code order by 1 asc, 2 asc
	</select>
	
	<sql id="product_column">
		pnum, upCg_code, downCg_code, pname,
		nvl(pimage1, 'noimage.PNG') pimage1,
		nvl(pimage2, 'noimage.PNG') pimage2,
		nvl(pimage3, 'noimage.PNG') pimage3,
		price, saleprice, pgty, point, pspec,
		pcontents, pcompany, pindate
	</sql>
	
	<!-- 상품번호로 상품정보 가져오기 -->
	<select id="selectByPnum" resultType="Product" parameterType="int">
		select 
		<include refid="product_column" />
		from product where pnum=#{pnum}
	</select>
	
	<!-- 상품번호로 상품 삭제 하기 -->
	<delete id="productDelete" parameterType="string">
		delete from product where pnum=#{pnum}
	</delete>
</mapper>
